@charset "UTF-8";
/*一定要在第一行*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* import 一定要在第二行 */
@font-face {
    font-family: LEMONMILK;
    src: url(../webfoons/LEMONMILK-Bold.otf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*不累加pandding與border寬度*/
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-color: #b37a49;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    /* 將預設inline改為block */
    text-decoration: none;
    color: #444;
}

/* 共用區 */
.btn-s {
    background-color: aliceblue;
    width: auto !important;
    height: 35px;
    line-height: 32px;
    padding: 0 20px;
    border-radius: 99px;
    transition: .35s ease-in-out;
}

.btn-s:hover {
    background-color: #444;
    color: white;
}

/*頁首區*/
#topbar {
    /* id用#號 */
    /* class用.號 */
    position: fixed; /* 固定定位:不會跟著卷軸走 */
    z-index: 999;
    width: 100%; /* 定位會變成抓內容尺吋，所以要手動設回W100% */
    /* 預設水平主軸為水平 */
    display: flex;
    /* 主軸均分貼齊頭尾 */
    justify-content: space-between;
    /* 副軸(垂直)置中 */
    align-items: center;
    padding: 30px;
}

.logo {
    width: 65px;
}

.logo img {
    filter: drop-shadow(2px 2px orange);
}

.navigation {
    display: flex;
    flex-direction: column;
    /* 主軸(垂直) */
    align-items: flex-end;
    /* 副軸(水平)至底 */
}

.navigation .icon {
    display: flex;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    transition: all 0.35s ease-in-out;
}

.icon-fb {
    /* 只有svg圖會自動等比例縮放，其它圖檔原始尺吋 */
    background-image: url(../images/icon-fb.svg);
}

.icon-fb:hover {
    background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
    background-image: url(../images/icon-ig.svg);
}

.icon-ig:hover {
    background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
    background-image: url(../images/icon-line.svg);
}

.icon-line:hover {
    background-image: url(../images/icon-line-hover.svg);
}

.navigation .menu {
    display: flex;
    margin: 15px 0;
    /* 控制副層的外距 */
    padding: 10px;
    border-radius: 99px;
}

.navigation .menu li {
    border-right: solid 1px #444;
}

.navigation .menu li:last-child {
    /* 控制後一個元素不要有分隔線 */
    border-right: none;
}

.navigation .menu a {
    color: black;
    font-size: .6rem;
    line-height: 1;
    margin: 0 20px;
    /* 控制子層的外距 */
    border-bottom: solid 2px transparent;
    /* 留2像素的空間，並透明 */
}

.navigation .menu a:hover {
    border-bottom: solid 2px black;
    transition: 0.35s ease-in-out;
}

/* 主要內容共用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.title h2 {
    font-family: LEMONMILK, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    border-bottom: 2px solid black;
}

.title h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
}

.box__list{
    width: 80%;
    display: flex;
}
.box__list .item{
    flex: 1;
    margin: 0 15px;
}
.box__list h1{
    font-size: 1.3rem;
    font-weight: 600;
}
.box__list p{
    font-size: .9rem;
    text-align: justify;/* 齊行 */
}
/* 最新消息區 */
/* 聯絡我們區 */
#contact {
    position: relative;/* 專門作為absolute的定位依據 */
    overflow: hidden;
    /* 背景影像基本設定 */
    background-image: url(../images/bg_contact.jpg);
    background-size: cover;
    background-position: center center;
    /* 固定背景 */
    background-attachment: fixed;
}
/* 裝飾花 */
.flower_r{
    position: absolute;
    left: -60px;
    bottom: -100px;
    width: 300px;
    transform: rotate(35deg);
}
.flower_w{
    position: absolute;
    right: -40px;
    top: 50px;
    width: 300px;
    transform: rotate(-55deg)
}

#form--contact {
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    flex-direction: column; /* 主軸(垂直) */
    align-items: center; /* 副軸(水平)置中 */
    width: 35%;
}

#form--contact label {
    font-size: .8rem;
    line-height: 2;
    margin-top: 1rem;
    width: 100%;
}

#form--contact input,
#form--contact textarea {
    border-radius: 10px;
    padding: 6px;
    color: #542904;
    font-weight: 600;
    /* 取消標單元件的預設背景色 */
    background-color: transparent;
    border: none;
}

#form--contact input:focus,
#form--contact textarea:focus {
    outline: 2px solid #8F6B6D;
}

#form--contact input::placeholder,
#form--contact textarea::placeholder {
    font-size: .75rem;
    font-weight: 400;
    color: #542904;
}

#form--contact small {
    font-size: .75rem;
    color: #542904;
    padding: 15px 5px;
}

/* 玻璃擬態效果 */
#form--contact input,
#form--contact textarea,
#topbar .menu,
#btn__contact--submit{
    width: 100%;
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.5));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15), inset -1px -1px rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
}

/* 動態按鈕 */
#btn__contact--submit {
    /* position: relative; */
    /* outline: none; */ 
    /* text-decoration: none; 取消文字裝飾底線 */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* 指標樣式:手型 */
    text-transform: uppercase; /* 設定字母大寫 */
    height: 60px;
    width: 210px;
    /* opacity: 1; 透明度 */
    background-color: transparent;
    border: 1px solid #a97f81;
}

#btn__contact--submit span{
    color: #a97f81;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1rem;
    padding-left: 1rem;/* 補回字距的間距 */
}

#btn__contact--submit:hover {
    animation: rotate 0.7s ease-in-out both;
}

#btn__contact--submit:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}
