@use 'variables' as *;
@use 'function' as *;


/* 共用區 */
img {
    display: block;
    width: 100%;
}

.title{
    position: relative;
    @include bordered-l;
    padding-left: 1.5rem;

    margin: 85px 0 30px;

    &::before {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: map-get($color , dark );
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 11.5rem;
        bottom: 2px;
        background-color: map-get( $color , dark );
        width: calc(100% - 11.5rem);
        height: 3px;
    }

    h3{
        line-height: 1;
        span{
            font: {
                size: 1rem;           
            }
        }
    }
}
/* 傾斜遮色片 */
.mask-title {
    mask-image: url(../images/mask.svg);
    mask-position: center;
    mask-repeat: no-repeat;

    @media ($media-md) {
        mask-size: 90% 100%;
    }
    @media ($media-lg) {
        mask-size: 92% 100%;
    }
}
.mask {
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}
.blobs-1{
    mask-image: url(../images/blobs-1.svg);
}
.blobs-2{
    mask-image: url(../images/blobs-2.svg);
}
.blobs-3{
    mask-image: url(../images/blobs-3.svg);
}

.clip{
    display: block;
    // clip-path: circle(50%);//圓形
    // clip-path: ellipse();//xy50%為置中,橢圓形
    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);//平行四邊形
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);//倒三角形

    caret-color: transparent;

    &::before{
        content: '';
        background-color: transparent;
    }

    &:hover{
        background-color: antiquewhite;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 99;
            background-color: map-get( $color, alpha-b-40 );
        }

    }
}


#new {
    a {
        position: relative;
        color: map-get( $color, light );

        &:hover{
            h2 {
                opacity: 1;
            }
        }

        h2{
            transition:  .4s;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: map-get( $color , alpha-b-40 );
        }
    }
}

/* 熱門商品 */
#hot {
    .col{
        position: relative;

        h2{
            position: absolute;
            width: 100%;
            top: calc(50%, .2rem);
            left: calc(50%, );
            z-index: 2;
            font-size: ;
            color: ;
            text-shadow: ;
        }
    }
}


